body {
    font-family: Arial;
    text-align: center;
    background-color: #e8f5e9;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
}
